<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="RFIDCardMapper">

	<resultMap type="RFIDCard" id="rfidCardResultMap">
		<result property="rfidId" column="RFID_TAG_ID"/>
		<result property="uid" column="UID"/>
		<result property="isActive" column="IS_ACTIVE"/>
		<result property="issuedAt" column="ISSUED_AT"/>
		
	
	</resultMap>

	<select id="getWorksiteId" resultType="_int">
		SELECT 
			WORKSITE_ID
		FROM
			RFID_READER
		WHERE
			READER_ID = #{readerId}
	</select>
	
	<insert id="insertWorkSession" parameterType="RFIDrepDTO">
		INSERT INTO WORK_SESSION
			(
			SESSION_ID,
			WORKER_ID,
			WORKSITE_ID,
			STARTED_AT
			)
		VALUES (
			SEQ_WORK_SESSION.NEXTVAL,
			#{workerId},
			#{workSiteID},
			SYSDATE
		)
	</insert>
	
	<select id="findAll" resultMap="rfidCardResultMap">
		SELECT 
			*
		FROM
			RFID_TAG
	</select>



	

    
</mapper>
